<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://jobsweeper-eddmccb7gqfyetfp.switzerlandnorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2c1457ae-3e88-4e2a-b104-b5e4a1fa8780/resourceGroups/LittersoftRG/providers/Microsoft.Web/sites/jobsweeper</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://jobsweeper-eddmccb7gqfyetfp.scm.switzerlandnorth-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>